
.book-btn a{
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}