@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --bg-color: #0f0e16;
  --header-bg: #9898983b;
  --text-color: white;
  --main-color: #3d5aa6;
  --logo-color: #3d5aa6;
  --selected-option-bg: var(--main-color);
  --selected-option-text: white;
  --icon-bg: #24232e;
  --input-bg: #fffbfbbe;
  --input-focus-bg: #fffbfbbe;
  --main-transition: all 0.3s 0s cubic-bezier(0.165, 0.84, 0.44, 1);
  --option-bg: rgba(97, 97, 97, 0.2);
  --main-form-bg:  #121219;
  --main-trasnition: all 0.3s 0s ease-in-out;
  --main-trasnition: all 0.5s 0s cubic-bezier(0.77, 0, 0.175, 1);
  --logo-opacity: 0.1;
  --main-gradient: linear-gradient(to right top, #ffffff, var(--main-color))
  --overlay-bg: rgb(0,0,0,0.2);
  --main-border-radius: 12px;
}
*::selection{
  background-color: var(--main-color);
  color: white;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
  /* height: 100vh; */
  overflow-y: scroll;
  /* padding-top: 100px; */
  font-family: "Tajawal", sans-serif;
  transition: var(--main-transition);
  /* background-image: url("./assests//logo-bg-noBg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  body{
    padding-top: 00px;
  }
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(37, 35, 50);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
html{
  scroll-behavior: smooth;
  scroll-padding: 80px;
}
ul{
  list-style: none;
}
img,video{
  max-width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.container{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 767px) {
  .container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container{
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 1180px;
  }
}
.App .overlay{
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  /* background-color: red; */
  /* z-index: -1; */
  transition: none !important;
}

.App .bg{
  position: absolute;
  /* width: 400px; */
  width: 300px;
  z-index: -1;
  transition: var(--main-trasnition);
  opacity: 0;
  opacity: 1;
}
.App.loaded .bg{
  opacity: 1;
}
.App .bg.top-left{
  top: 0;
  left: 0;
}
.App .bg.bottom-right{
  bottom: 0;
  right: 0;
}
@media (max-width: 767px) {
    .App .bg{
        /* width: 300px; */
        width: 200px;
    }
}